body {
  #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    margin: 1rem 1rem;
  }
}

// responsive
@media all and (max-width: 650px) {
  body {
    #root {
      display: grid;
      margin: 0 1rem;
    }
  }
}
