body {
  background-color: #e6e6e6;
  max-height: 100vh;
  #root {
    margin: 0;
    padding: 0;
    margin: 1rem 1rem;
  }
}

// responsive
@media all and (max-width: 650px) {
  body {
    #root {
      display: grid;
      margin: 0 1rem;
    }
  }
}
