body {
  background-color: #e6e6e6;
  max-height: 100vh;
  #root {
    padding: 0;
    margin: 1rem 1rem;
    .loading-container {
      background-color: green;
      padding: 1rem;
      text-align: center;
    }
    .connection-container {
      background-color: red;
      padding: 1rem;
      text-align: center;
    }
  }
}

// responsive
@media all and (max-width: 650px) {
  body {
    #root {
      display: grid;
      margin: 0;
    }
  }
}
